

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /*Promotion Slider*/
    .promotion-slider {
        padding: 30px;
        height: 35vh;
        margin: 0 auto;
        width: 100vw !important
      }
      
      .carousel-inner {
        height: 100%;
      }
      
      .carousel-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
      
    
        .why-us {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      gap: 50px
    }
    
    .title {
      font-size: 2rem !important;
      font-weight: 600 !important;
      padding-bottom: 0 !important;
      font-family: 'Kanit', sans-serif;
    }
    
    /*.why-us-text,
    .why-us-img {
      flex-basis: calc(50% - 50px);
    }*/

    .why-us-img {
        flex-basis: 40%;
    }

    .why-us-text {
        flex-basis: 60%;
    }
    
    .scroll-img {
      width: 100%;
      height: 400px;
    }
    
    .why-us-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .why-us-text p {
      font-size: 1rem
    }
    
    .why-us-reasons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    
    .why-us-reasons-item {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .why-us-reasons-item i {
      font-size: 1rem;
      color: var(--primary-color-1)
    }
    
    .why-us-reasons-item span {
      font-size: 0.8rem;
      font-weight: 500;
    }
    
    /* Spinning Image*/
    .scroll-img.spin {
      animation: spin 3s;
      animation-iteration-count: 1;
      animation-delay: 0.5s;
    }
    
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
    }
    }

    @media only screen and (min-width: 576px) and (max-width: 768px) {
        /*Promotion Slider*/
        .promotion-slider {
            padding: 30px;
            margin: 0 auto;
            width: 100vw !important
          }
          
          .carousel-inner {
            height: 100%
          }
          
          .carousel-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
          }
          
            .why-us {
          margin: 20px auto 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 70%;
          gap: 50px
        }
        
        .title {
          font-size: 1.5rem !important;
          font-weight: 600 !important;
          padding-bottom: 0 !important;
          font-family: 'Kanit', sans-serif;
        }
        
        /*.why-us-text,
        .why-us-img {
          flex-basis: calc(50% - 50px);
        }*/
    
        .why-us-img {
            height: 200px;
            width: 200px
        }
        
        .scroll-img {
          width: 100%;
          height: 400px;
        }
        
        .why-us-text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: auto;
          text-align: center;
        }
        
        .why-us-text p {
          font-size: 0.9rem
        }
        
        .why-us-reasons {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
        
        .why-us-reasons-item {
          display: flex;
          align-items: center;
          gap: 15px;
        }
        
        .why-us-reasons-item i {
          font-size: 0.9rem;
          color: var(--primary-color-1)
        }
        
        .why-us-reasons-item span {
          font-size: 0.8rem;
          font-weight: 500;
        }
        
        /* Spinning Image*/
        .scroll-img.spin {
          animation: spin 3s;
          animation-iteration-count: 1;
          animation-delay: 0.5s;
        }
        
        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
        
          to {
            transform: rotate(360deg);
          }
        }
        }


        @media only screen and (min-width: 1px) and (max-width: 576px) {
             /*Promotion Slider*/
        .promotion-slider {
            padding: 30px;
            margin: 0 auto;
            width: 100vw !important
          }
          
          .carousel-inner {
            height: 100%
          }
          
          .carousel-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
          }
          
            .why-us {
          margin: 20px auto 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 70%;
          gap: 50px
        }
        
        .title {
          font-size: 1.5rem !important;
          font-weight: 600 !important;
          padding-bottom: 0 !important;
          font-family: 'Kanit', sans-serif;
        }
        
        /*.why-us-text,
        .why-us-img {
          flex-basis: calc(50% - 50px);
        }*/
    
        .why-us-img {
            height: 200px;
            width: 200px
        }
        
        .scroll-img {
          width: 100%;
          height: 400px;
        }
        
        .why-us-text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: auto;
          text-align: center;
        }
        
        .why-us-text p {
          font-size: 0.9rem
        }
        
        .why-us-reasons {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
        
        .why-us-reasons-item {
          display: flex;
          align-items: center;
          gap: 15px;
        }
        
        .why-us-reasons-item i {
          font-size: 0.9rem;
          color: var(--primary-color-1)
        }
        
        .why-us-reasons-item span {
          font-size: 0.8rem;
          font-weight: 500;
        }
        
        /* Spinning Image*/
        .scroll-img.spin {
          animation: spin 3s;
          animation-iteration-count: 1;
          animation-delay: 0.5s;
        }
        
        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
        
          to {
            transform: rotate(360deg);
          }
        }
        }


        @media only screen and (min-width: 1024px) and (max-width: 1280px) {
          /*Promotion Slider*/
          .promotion-slider {
              padding: 30px;
              height: 85vh;
              margin: 0 auto;
              width: 100vw !important
            }
            
            .carousel-inner {
              height: 100%;
            }
            
            .carousel-image {
              width: 100%;
              height: 100%;
              background-size: cover;
              background-position: center;
            }
            
          
              .why-us {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%
          }
          
          .title {
            font-size: 2.4rem !important;
            font-weight: 600 !important;
            padding-bottom: 0 !important;
            font-family: 'Kanit', sans-serif;
          }
          
          .why-us-text,
          .why-us-img {
            flex-basis: calc(50% - 50px);
          }
          
          .scroll-img {
            width: 100%;
            height: 400px;
          }
          
          .why-us-text {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          
          .why-us-text p {
            font-size: 1.2rem
          }
          
          .why-us-reasons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
          }
          
          .why-us-reasons-item {
            display: flex;
            align-items: center;
            gap: 20px;
          }
          
          .why-us-reasons-item i {
            font-size: 1rem;
            color: var(--primary-color-1)
          }
          
          .why-us-reasons-item span {
            font-size: 1.2rem;
            font-weight: 500;
          }
          
          /* Spinning Image*/
          .scroll-img.spin {
            animation: spin 3s;
            animation-iteration-count: 1;
            animation-delay: 0.5s;
          }
          
          @keyframes spin {
            from {
              transform: rotate(0deg);
            }
          
            to {
              transform: rotate(360deg);
            }
          }
          }